.info {
    width: 650px;
    border-radius: 30px;
    border: 10px solid rgb(27, 119, 122);
    background-color: rgb(38, 54, 54);
    padding: 5px;
    font-weight: bolder;
    color: whitesmoke
}

strong {
    color: palegreen;
}